@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

$white: #FFF;
$gray: #999;

html {
    position: relative;
    min-height: 100%;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: $gray;
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding: 10px;
}