@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

$white: #FFF;
$concrete: #95a5a6;
$peteriver: #3498db;
$midnblue: #2c3e50;
$silver: #bdc3c7;
$clouds: #ecf0f1;
$emerald: #2ecc71;
$nephritis: #27ae60;

@custom-media --xs (max-width: 576px);
@custom-media --sm (max-width: 768px);
@custom-media --md (max-width: 992px);
@custom-media --lg (max-width: 1200px);

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

html {
    position: relative;
    min-height: 100%;
    padding-bottom: 50px;   
}

body {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    overflow-x: hidden;
    background-color: #F0F0F0;

    &::before {
        content: '';
        width: 100%;
        height: 180px;
        background-color: $peteriver;
        position: absolute;
        top: 0;
        box-shadow: 0 0 3px rgba($midnblue, .1);
        z-index: -1;
    }
}

/*
nav {
    width: 100%;
    padding: 20px;
    position: relative;

    a {
        position: absolute;
        right: 0;
        color: rgba($white, 0.7);
        transition: 0.3s;

        &:hover {
            color: rgba($white, 1);
            transition: 0.3s;
        }
    }
}
*/

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.form {
    background-color: #FFF;
    padding: 20px 40px;
    margin: 40px 80px 0;
    box-shadow: 0 0 3px rgba($midnblue, .1);
    display: flex;
    flex-direction: column;

    @media(--sm) {
        margin: 20px 20px 0;
        padding: 20px;
    }

    h1 {
        text-transform: uppercase;
        font-weight: 800;
        color: $midnblue;
        text-align: center;
    }

    p {
        color: $concrete;

        @media(--sm) {
            text-align: center;
        }

        b {
            font-weight: 700;
        }
    }

    .label {
        display: flex;
        align-items: center;
        padding: 20px 0;
        text-transform: uppercase;
        color: $midnblue;
        font-weight: 600;

        @media(--sm) {
            padding: 10px 0 20px;           
        }

        i {
            color: rgba($midnblue, 0.2);
            width: 40px;
            margin-right: 10px;
        }
    }

    .radio-alt {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        input {
            display: none;

            & + label {
                background-color: rgba($concrete, 0.2);
                padding: 15px 0;
                width: 23.5%;
                font-size: 16px;
                font-weight: 600;
                color: $midnblue;
                cursor: pointer;
                text-align: center;
                text-transform: uppercase;
                border-radius: 4px;
                border: 2px solid transparent;
                transition: 0.3s;

                @media(--sm) {
                    width: 100%;
                    margin-bottom: 10px;
                }
            }

            &:hover + label {
                color: $peteriver;
                border-color: $peteriver;
                transition: 0.3s;
            }

            &:checked + label {
                color: $white;
                background-color: rgba($peteriver, 1);
                transition: 0.3s;
            }


        }

        .hidden {
            visibility: hidden;

            @media (--sm) {
                display: none;
            }
        }
    }

    button {
        background-color: rgba($emerald, 1);
        padding: 15px;
        margin: 20px 0 0;
        font-size: 16px;
        font-weight: 600;
        color: $white;
        cursor: pointer;
        text-align: center;
        text-transform: uppercase;
        border-radius: 4px;
        border: 2px solid transparent;
        outline: none;
        transition: 0.3s;

        @media(--sm) {
            margin: 0;
        }

        &:hover {
            background-color: $nephritis;
            transition: 0.3s;
        }
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        color: rgba($midnblue, 0.9);
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 400;

        a {
            text-decoration: none;
            font-weight: 700;
            color: rgba($midnblue, 0.9);
            transition: 0.3s;
    
            &:hover {
                color: rgba($midnblue, 0.7);
                transition: 0.3s;
            }
        }
    }

    
}